
  <!-- ======= Navbar ======= -->
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <% if (token==undefined){ %>
              <li class="active"><a href="/">Início</a></li>
              <li><a href="/#products">Produtos</a></li>
              <li><a href="/#testimonials">Depoimentos</a></li>
              <li><a href="/#contact">Contato</a></li>
              <li><a href="/login">Login</a></li>
            <% }else{ %>
              <li class="active"><a href="/">Início</a></li>
              <li><a href="/#products">Produtos</a></li>
              <li><a href="/#testimonials">Depoimentos</a></li>
              <li><a href="/#contact">Contato</a></li>
              <li><a href="/admin/users">Usuários</a></li>
              <li><a href="/admin/products">Produtos</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <h3>SEJA MUITO BEM VINDO!</h3>
          <p>Site dedicado para fazer meu chá de casa nova :D</p>
        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Minha casa minha vida</a>
      <a class="burger" href="/" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </nav>