<section class="section site-portfolio" id="products">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          <h2>Oieee, Meu nome é Áleff, prazer!</h2>
          <p class="mb-0">Resolvi criar esse site para que você possa escolher com carinho um presente pra minha nova moradia :)</p>
        </div>
      </div>
      <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
          <a class="item-wrap fancybox">
            <div class="work-info">
              <h3>Título</h3>
              <span>Disponível para presente</span>
              <div style="padding: 10% 19%;" class="text-center">
                <form class="form-control" method="POST" action="/send">
                  <input class="form-control" placeholder="seuemail@mail.com">
                  <br>
                  <button type="submit" class="btn btn-dark">Enviar</button>
                </form>
              </div>  
            </div>
            <img class="img-fluid" src="img/img_6.jpg">
          </a>
        </div>

        <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
          <a class="item-wrap fancybox">
            <div class="work-info">
              <h3>Título</h3>
              <span>Produto indisponível :(</span>
            </div>
            <img class="img-fluid" src="img/img_6.jpg">
          </a>
        </div>
      </div>
    </div>
  </section>